nav{
    text-align: center;
    font-size: 2em;
    padding: 0.1em;
    width: 99%;

    border: 1px solid black;
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5em;
    
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.hidden{
    display: none;
}
button{
    transition: 1s all ease-in-out;
    font-size: 2em;
    background-color: white;
    font-family: monospace;
    border: 1px solid;
    width: fit-content;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
}
.placar{
    transition: 1s all ease-in-out;
    font-size: 400%;
    border: 1px solid black;
    padding: 0.5em;
    max-width: 5em;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    height: 100%;
}
html{
    height: 100%;
}

.cpu{
    font-size: 2em;
    width: 90%;    
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* #940066 */